<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-form">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `element-form`
     * formulario elemento nuevo
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementForm extends Polymer.Element {
      static get is() { return 'element-form'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-form'
          }
        };
      }
    }

    window.customElements.define(ElementForm.is, ElementForm);
  </script>
</dom-module>
